# API de empleados (getTasksCocina, getTasksEmpaque, getTasksDespacho, updateOrderStatus)
VITE_EMPLEADOS_API_BASE_URL=https://aa5r6uvg0b.execute-api.us-east-1.amazonaws.com/dev

# Sucursal
VITE_TENANT_ID=SURCO-01
